langchain-core
langgraph
langchain-postgres
langchain-openai
python-dotenv
typing-extensions
# psycopg[binary]
# psycopg2-binary
# psycopg3
colorlog
streamlit
langgraph-checkpoint-sqlite
langchain-community
pypdf # Added for PDF loading
faiss-cpu # Added for vector store